@layer base, theme, preset, components, general;

@layer components {
    .btn {
        background-color: oklch(0% 0 none);
    }

    @media (width >=52.125rem) {
        .btn\@sm {
            background-color: oklch(0% 0 none);
        }
    }
}