@layer base, components;

@layer components {
    .btn::before,
    .btn::after {
        display: block
    }

    .btn {
        background-color: rgb(0 0 0);
    }

    @media (min-width: 834px) {
        .btn\@sm::before,
        .btn\@sm::after {
            display: block;
        }
    }

    @media (min-width: 834px) {
        .btn\@sm {
            background-color: rgb(0, 0, 0);
        }
    }
}