@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('@master/normal.css');

[v-cloak] {
    display: none;
}

.figma-dark {
    color-scheme: dark;
}

.figma-light {
    color-scheme: light;
}

:root {
    --gap: 0.5rem;
}

body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(11 / 16 * 1rem);
}

select,
input,
textarea,
button {
    appearance: none;
    color: var(--figma-color-text);
    background-color: var(--figma-color-bg);
    border: 1px solid var(--figma-color-border);
    padding: 0px var(--gap);
    font-size: calc(11 / 16 * 1rem);
    border-radius: calc(5 / 16 * 1rem);
    outline: 0;
}

input,
button,
select {
    height: 1.5rem;
}

input,
textarea {
    border-color: transparent;
    background-color: var(--figma-color-bg-secondary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea:hover,
input:hover {
    border: 1px solid var(--figma-color-border);
}

textarea:focus,
input:focus {
    border-color: var(--figma-color-border-selected);
    outline: none;
}

button:active {
    background-color: var(--figma-color-bg-pressed);
}

button:disabled {
    background-color: transparent;
    color: var(--figma-color-text-disabled);
    cursor: not-allowed;
}

textarea {
    padding: var(--gap);
    max-width: 100%;

}

select {
    padding-right: 2em;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC40NzUgNi43NjhhLjUuNSAwIDAgMSAwIC43MDdMOC4zNTQgOS41OTYgOCA5Ljk1bC0uMzU0LS4zNTRsLTIuMTItMi4xMjFhLjUuNSAwIDAgMSAuNzA2LS43MDdMOCA4LjUzNmwxLjc2OC0xLjc2OGEuNS41IDAgMCAxIC43MDcgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: right 0.25em center;
    background-blend-mode: multiply;
    background-size: 1.5em;
}

.figma-dark {
    select {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC40NzUgNi43NjhhLjUuNSAwIDAgMSAwIC43MDdMOC4zNTQgOS41OTYgOCA5Ljk1bC0uMzU0LS4zNTRsLTIuMTItMi4xMjFhLjUuNSAwIDAgMSAuNzA2LS43MDdMOCA4LjUzNmwxLjc2OC0xLjc2OGEuNS41IDAgMCAxIC43MDcgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    }
}

section {
    padding: 1rem;
}

hr {
    background-color: var(--figma-color-border);
    height: calc(1 / 16 * 1rem);
}

.panel-rows {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.panel-prop {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: var(--gap);
}

.panel-title {
    margin-bottom: 1rem;
    font-weight: 550;
}

label {
    color: var(--figma-color-text-secondary);
}